body {
    background-image: url("../Musicaentodo/assets/fondoange.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/

}

#ventanamusica{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#lienzo {
    height:80vh;
    width: 60vw;
    background-color: rgba(75, 13, 11, 0.952);
    /*top:30%;
    left:50%;*/
    /*padding: 10%;
    margin: 10%;*/
    border-radius: 3%;
    position: relative;
    z-index: 1;
}

#lborde{
    height: 10%;
    width: 100%;
    background-color: rgb(34, 3, 3)255, 0, 0;
    position:absolute;
    
}

#lcirculo{
  width:3.4%;
  height: 5%;
  background-color: rgb(109, 12, 12);
  border-radius: 50%;
  position: absolute;
  bottom: 92.5%;
  right: 92%;
}

#lcircudos{
  width:3.4%;
  height:5%;
  background-color: rgb(196, 196, 49);
  border-radius: 50%;
  position:absolute;
  bottom: 92.5%;
  right: 87%;
}

#lcircutres{
  width: 3.4%;
  height:5%;
  background-color: rgb(22, 122, 22);
  border-radius: 50%;
  position: absolute;
  bottom: 92.5%;
  right: 81.6%;
}

#lbordebuscador{
  width:100%;
  height:10%;
  background-color:rgba(58, 30, 30, 0.897);
  position:relative;
  top: 54px;

}

#lbuscador {
  width: 40%;
  height: 4.6%;
  border-radius:20px;
  background-color:rgba(92, 49, 49, 0.979);
  position:absolute;
  top:68px;
  right: 32%;

}



#uno {
  position:absolute;
  bottom: 60%;
  right: 80%;
  border-radius: 14px;
  filter:drop-shadow(10px 8px 4px rgba(89, 85, 85, 0.409));
}
#billie {
  color:aliceblue;
  font-family: geneva;
  position: absolute;
  bottom: 58%;
  left: 11.6%;
  font-size: small;
  text-decoration: none;
}


#dos {
  position: absolute;
  bottom: 56%;
  right: 70%;
  border-radius: 14px;
  filter:drop-shadow(10px 8px 4px rgba(89, 85, 85, 0.508)); 
}
#maneskin {
  color:aliceblue;
  font-family: geneva;
  position: absolute;
  bottom: 54%;
  left: 22.4%;
  font-size: small;
  text-decoration: none;

}
#tres {
  position: absolute;
  bottom: 66%;
  right: 60%;
  border-radius: 14px;
  filter:drop-shadow(10px 8px 4px rgba(89, 85, 85, 0.243)); 
}
#solene{
  color:aliceblue;
  font-family: geneva;
  position: absolute;
  bottom: 64%;
  left: 31.4%;
  font-size: small;
  text-decoration: none;
}

#cuatro {
  position: absolute;
  bottom: 62%;
  right: 50%;
  border-radius: 14px;
  filter:drop-shadow(10px 8px 4px rgba(89, 85, 85, 0.263)); 
}
#maria {
  color:aliceblue;
  font-family: geneva;
  position: absolute;
  bottom: 60%;
  left: 43.2%;
  font-size: small;
  text-decoration: none;
}

#cinco {
  position: absolute;
  bottom: 80%;
  left: 10%;
  border-radius: 14px;
  filter:drop-shadow(10px 8px 4px rgba(89, 85, 85, 0.332)); 
}
#warning {
  color:aliceblue;
  font-family: geneva;
  position: absolute;
  bottom: 78%;
  left: 10.7%;
  font-size: small;
  text-decoration: none;
}

#c {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 120px;
    left: 37px;
    display:inline-block;
}    

#i {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 120px;
    left: 117px;
    display:inline-block;    
}

#m {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 120px;
    left: 340px;
    display:inline-block;    
}

#w {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 120px;
    left: 417px;
    display:inline-block;    
}

#p {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 140px;
    left: 97px;
    display:inline-block;    
}

#b {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 120px;
    left: 480px;
    display:inline-block;    
}

#o {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 120px;
    left: 567px;
    display:inline-block;    
}

#h {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 120px;
    left: 680px;
    display:inline-block;    
}

#y {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 140px;
    left: 27px;
    display:inline-block;    
}

#z {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 140px;
    left: 211px;
    display:inline-block;    
}

#co {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 140px;
    left: 317px;
    display:inline-block;    
}

#l {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 140px;
    left: 397px;
    display:inline-block;    
}

#iw {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 140px;
    left: 527px;
    display:inline-block;    
}

#in {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 160px;
    left: 21px;
    display:inline-block;    
}

#fo {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 160px;
    left: 177px;
    display:inline-block;    
}

#la {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 160px;
    left: 287px;
    display:inline-block;    
}

#ve {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 160px;
    left: 437px;
    display:inline-block;    
}

#th {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 160px;
    left: 545px;
    display:inline-block;    
}

#ho {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 160px;
    left: 627px;
    display:inline-block;    
}
#thi {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 180px;
    left: 27px;
    display:inline-block;    
}

#un {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 180px;
    left: 187px;
    display:inline-block;    
}

#fe {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 180px;
    left: 287px;
    display:inline-block;    
}

#an {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 180px;
    left: 417px;
    display:inline-block;    
}

#as {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 180px;
    left: 487px;
    display:inline-block;    
}

#ce {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 180px;
    left: 560px;
    display:inline-block;    
}

#ac {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 200px;
    left: 24px;
    display:inline-block;    
}
#ca {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 200px;
    left: 137px;
    display:inline-block;    
}

#mi {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 200px;
    left: 217px;
    display:inline-block;    
}

#ha {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 200px;
    left: 337px;
    display:inline-block;    
}

#hi {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 200px;
    left: 427px;
    display:inline-block;    
}

#ep {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 200px;
    left: 527px;
    display:inline-block;    
}


#du {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 200px;
    left: 644px;
    display:inline-block;    
}
#cr {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 220px;
    left: 27px;
    display:inline-block;    
}

#ug {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 220px;
    left: 167px;
    display:inline-block;    
}

#on {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 220px;
    left: 227px;
    display:inline-block;    
}

#st {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 220px;
    left: 317px;
    display:inline-block;    
}

#re {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 220px;
    left: 427px;
    display:inline-block;    
}

#sa {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 240px;
    left: 124px;
    display:inline-block;    
}
#sin {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 240px;
    left: 277px;
    display:inline-block;    
}

#que {
    text-decoration: none;
    display:inline-block;
    color: white;
    position:absolute;
    top: 240px;
    left: 440px;
    display:inline-block;    
}

